---
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


// Фиксированное меню
// https://www.w3schools.com/howto/howto_js_sticky_header.asp
// Пример: https://github.com/mmistakes/minimal-mistakes/issues/490
// https://translated.turbopages.org/proxy_u/en-ru.ru.996fe2e6-66790356-55c6338a-74722d776562/https/www.w3schools.com/HOWTO/howto_js_sticky_header.asp
// https://www.demo2s.com/html-css/css-fixed-navigation-inside-absolute-main-element.html
.masthead {
    position: fixed;
    top: 0;
    width: 100%;
    height: 110px; // Высота
    background: white; 
}

// Тело
body {
//    padding: 110px 0 0;  // Отступ на высоту masthead
    padding-top: 110px; // Отступ на высоту masthead
}

//.site { 
//    padding-top: 110px; // Отступ на высоту masthead
//}

.header-link {
    //    padding: 110px 0 0;  // Отступ на высоту masthead
    position: relative;
    padding-top: 110px; // Отступ на высоту masthead
}

// Якорь
//.anchor {
//    position:absolute; 
//    top:-110px;
//}


// Размер подписи 2 строки сайта, уменьшаем
.site-subtitle {
    display: block;
    font-size: .400em;
}

// Размер логотипа, увеличиваем
.site-logo img {
    max-height: 3rem;
}

// Размер баннера на главной странице, увеличиваем высоту
.page__hero--overlay {
    padding-top: 8em;
}

// Надписи на баннере (ARCTL.ONLINE), скрываем
.page__hero--overlay .page__title {
    font-size: 0em;
}