---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

//размер подписи 2 строки сайта
element.style {
}
.site-subtitle {
    display: block;
    font-size: .400em;
}

//Размер логотипа
element.style {
}
.greedy-nav img {
    -webkit-transition: none;
    transition: none;
}
.site-logo img {
    max-height: 3rem;
}

//Размер баннера на главной странице
element.style {
    background-color: #5e616c;
    background-image: url(/www/assets/images/hands1.jpg);
}
.page__hero--overlay {
    position: relative;
    margin-bottom: 2em;
    padding: 0em 0;
    padding-top: 33em;
    padding-right: 0px;
    padding-bottom: 3em;
    padding-left: 0px;
    clear: both;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-animation: intro 0.3s both;
    animation: intro 0.3s both;
    -webkit-animation-delay: 0.25s;
    animation-delay: 0.25s;
}

//размер надписи на баннере
element.style {
}
.page__hero--overlay .page__title {
    font-size: 0em;
}

//редактор подвала страницы
element.style {
}
.page__footer footer {
    clear: both;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0em;
    max-width: 100%;
    padding: 0 5em 1em;
}
